# Dependências de Node e PHP
/node_modules
/vendor

# Builds e artefatos de front-end (Vite)
public/build
public/hot
public/storage

# Cache e arquivos temporários
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
.phpunit.result.cache
/.phpunit.cache

# Arquivos de ambiente
.env
.env.*
auth.json

# Logs e arquivos de depuração
npm-debug.log
yarn-error.log
pnpm-debug.log

# IDEs e ferramentas
/.vscode/
/.idea/
/.fleet/
/.nova/
/zed
.phpactor.json

# Laravel Homestead
Homestead.yaml
Homestead.json

